{% extends "root.html" %}

{% block head %}
  {{super()}}
  <link href="{{ url_for('static', filename='stylesheet/show_image.css')}}" rel="stylesheet" >

{% endblock %}

{% block content %}
    <h1 class="strapline"> Showing note {{note_image}} </h1>
    {% if errors  %}
      <p class="error">Error uploading the form data: {{ errors }}</p>
    {% endif %}

    <form action="{{ url_for('metadata.add_meta_data', note_image=note_image) }}" method="post">
      <label class="module_label">Module Code:
        <input type="text" class="module_code_data" name="module_code_data" required="required" title="Must contain characters" pattern="^(?!\s+).+">
      </label>
      <label class='lecture_name_label'>Lecturer's Name:
        <input type="text" class="lecturer_name" name="lecturer_name_data" required="required" title="Must contain characters" pattern="^(?!\s+).+">
      </label>
        <label class="location_name_label"> Location of the lecture:
      <input type="text" class="location_name" name="location_data" title="Must contain characters" required="required" pattern='^(?!\s+).+'>
      </label>
      <label class='date_label'> Date of lecture:
        <input type="text" class="date" name="date_data" required="required" title="Must contain characters" pattern='^(?!\s+).+'>
      </label>
      <label class='title_label'> Title:
        <input type="text" class="title" name="title_data" required="required" title="Must contain characters" pattern="^(?!\s+).+">
      </label>
      <input type="submit" class="submit btn" name="submit" >
    </form>
    <img src="{{ url_for('fileupload.get_image', note_image=note_image) }}" class="temp_uploaded_image"/ class="temp_uploaded_note">
      <section class="suggestions row">
        <p class="suggestion_test">Below are suggesting based on analysis we did on your note:</p>
        <div class="suggestion block">
          <p class='suggested_date_label suggestion_message'> Photo taken on:</p>
        {% if suggested_date %}
          <p class="suggested_date"> {{ suggested_date }} </p>
        {% else %}
          <p class='suggested_date'> No suitable date was found from the note </p>
        {% endif %}
        </div>
        <div class="suggestion block">
          <p class='tesseract_label suggestion_message'> The note's module code:</p>
          <p class="tesseract_module_code">
            {% if tesseract_module_code[1] >= 75 %}
                <span class="tesseract_green">
            {% elif tesseract_module_code[1] < 75 and tesseract_module_code[1] >= 70 %}
                <span class="tesseract_orange">
            {% else %}
                <span class="tesseract_red">
            {% endif %}
            {{ tesseract_module_code[0] }}
            </span>
          </p>
        </div>
        <div class="suggestion block">
          <p class='tesseract_label suggestion_message'> The note's title: </p>
          <p class="tesseract_title">
            {% for title_word in tesseract_title %}
              {% if title_word[1] >= 75 %}
                  <span class="tesseract_green">
              {% elif title_word[1] < 75 and title_word[1] >= 70 %}
                  <span class="tesseract_orange">
              {% else %}
                  <span class="tesseract_red">
              {% endif %}
              {{ title_word[0] + " " }}
              </span>
            {% endfor %}
          </p>
        </div>
        <div class="suggestion block">
          <p class='tesseract_label suggestion_message'> The note's lecture date: </p>
          <p class="tesseract_date">
            {% for date_word in tesseract_date %}
              {% if date_word[1] >= 75 %}
                <span class="tesseract_green">
              {% elif date_word[1] < 75 and date_word[1] >= 70 %}
                <span class="tesseract_orange">
              {% else %}
                <span class="tesseract_red">
              {% endif %}
              {{ date_word[0] + " "}}
            </span>
          {% endfor %}
        </p>
        </div>
        <div class="suggestion block">
          <p class='tesseract_label suggestion_message'> The note's lecturer: </p>
          <p class='tesseract_lecturer'>
            {% for lecturer_word in tesseract_lecturer %}
              {% if lecturer_word[1] >= 75 %}
                  <span class="tesseract_green">
              {% elif lecturer_word[1] < 75 and lecturer_word[1] >= 72 %}
                  <span class="tesseract_orange">
              {% else %}
                  <span class="tesseract_red">
              {% endif %}
                {{ lecturer_word[0] + " "}}
              </span>
            {% endfor %}
        </p>
      </div>
      <div class="suggestion_events">
          <p class="suggested_event_label suggestion_message"> Calendar events on this day: </p>
      {% if events %}
          <div class="suggested_calendar_events">
            {% for event in events %}
              <div class="block suggested_calendar_event ">
                <p class="calendar_event_title"> {{event.item.summary}} </p>
                <p class="calendar_start_time"> {{ event.format_start_date() }} </p>
                <a class="calendar_event_view" href="{{ event.item.htmlLink }}">View event</a>
              </div>
            {% endfor %}
          </div>
      {% else %}
          <p class="suggested_event_message"> No Events were found in your calendar for that date </p>
      {% endif %}
      </div>
      </section>
{% endblock %}
