{% extends "root.html" %}

{% block head %}
  {{super()}}
  <link href="{{ url_for('static', filename='stylesheet/show_image.css')}}" rel="stylesheet" >

{% endblock %}

{% block content %}
    <h1 class="strapline"> Showing note {{note_image}} </h1>
    <img src="{{ url_for('fileupload.get_image', note_image=note_image) }}" class="temp_uploaded_image"/ class="temp_uploaded_note">

    <form action="{{ url_for('metadata.add_meta_data', note_image=note_image) }}" method="post">
      <label class="module_label">Module Code:
        <input type="text" class="module_code_data" name="module_code_data" >
      </label>
      <label class='lecture_name_label'>Lecturer's Name:
        <input type="text" class="lecturer_name" name="lecturer_name_data" >
      </label>
        <label class="location_name_label"> Location of the lecture:
      <input type="text" class="location_name" name="location_data">
      </label>
      <label class='date_label'> Date of lecture
        <input type="text" class="date" name="date_data">
      </label>
      <label class='title_label'> Title
        <input type="text" class="title" name="title_data">
      </label>
      <input type="submit" class="submit" name="submit" >
    </form>
{% endblock %}
