/* Ideas from Flexbox from https://davidwalsh.name/flexbox-column */
@import url(https://fonts.googleapis.com/css?family=News+Cycle);
html{
  width:100%;
  font-family: 'News Cycle', sans-serif;
}

body{
  margin: 0;
  width:100%;
  display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}
nav {
  width:15%;
  background-color:#DD2C00;
  min-height:100vh;
}
nav a {
  width:90%;
  display:inherit;
  margin-top:30%;
  margin-left:10%;
  text-decoration: none;
  color:white;
  font-size:20px;
}
main {
  width:85%;
  padding-left:20px;
}
nav a:hover{
  color:#B0BEC5;
}
.strapline{
  text-align: center;
}
.tesseract_green{
  color:#4CAF50;
}
.tesseract_orange{
  color:#FF9800;

}
.tesseract_red{
  color:#F44336;
}
.btn {
  display:inherit;
  margin-top:2%;
  height:10%;
  background-color: #009688;
  color:white;
  border:none;
  /*http://www.w3schools.com/cssref/tryit.asp?filename=trycss3_box-shadow*/
  box-shadow: 0px 4px 0px #888888;
  font-size:18px;
}
.link{
  display:inherit;
  margin-top:2%;
  background-color: #009688;
  color:white;
  border:none;
  /*http://www.w3schools.com/cssref/tryit.asp?filename=trycss3_box-shadow*/
  box-shadow: 0px 4px 0px #888888;
  font-size:20px;
  width:130px;
  text-decoration: none;
}
.row{
  display:inline-block;
}
.block{
    display:inline-block;
    background-color: #ECEFF1;
    height:20vh;
    width:30vh;
    margin-right:1vh;
    padding-bottom:1vh;
    margin-bottom:1vh;
    text-align:center;
    vertical-align:top
}
@media(max-width:768px){
  nav {
    width:25%;
  }
  nav a {
    font-size:15px;
  }
  .strapline{
    font-size:22px;
  }
  .block{
    height:19vh;
  }
}
@media(min-width:769px){

}
