main {
  background-color: #e8e8e8;
}

img {
  width:50%;
  height:50%;
  margin-left:auto;
  margin-right:auto;
  display:block;
}
.meta-data-card{
  width:30%;
  height:30%;
  background-color: white;
  margin-left:auto;
  margin-right:auto;
}
.meta-data-card h3 {
  text-align:center;
}
.meta-data-card p {
  margin-left:auto;
  margin-right:auto;
  width:80%;
}
