img {
  width:40%;
  margin-left:auto;
  margin-right:auto;
  display:inline-block;
}
.meta-data-card{
  background-color: #ECEFF1;
  width:60%;
  height:30%;
}
.meta-data-card h3 {
  text-align:center;
  color:#2E7D32;
}
.meta-data-card p {
  margin-left:auto;
  margin-right:auto;
  width:80%;
}
.title {
  text-align:center;
}
.right{
  width:50%;
  vertical-align: top;
  display: inline-block;
}
.delete_note{
  background-color:#B71C1C;
  color:white;
  border:none;
}
.saved_to_cal{
  font-weight: bold;
}
.calendar_link{
  width:30%;
  text-align: center;
  text-decoration: none
}
.btn{
  width:140px;
}
